#chartByRegion {
    display: block;
    height: 200px;
    margin: auto;
    padding: 0;
    width: 200px;
}

#chartByState {
  width: 100%;
}

.graph {
  width: 50%;
  margin: auto;
  position: relative;
}
