@media screen and (max-width: 479px) {

html, body {
	margin: 0px;
	}

#map {
  position:relative;
  width:100%;
  height:730px;
  border-top:2px solid #e0c8d2;
	}

nav.primary{
	float: left;
	}

nav.primary>ul{
	border: 2px solid #e0c8d2;
	border-right-width: 0;
	padding:0;
	margin: 5px;
	margin-left: 40px;
	}

li{
	display: inline-block;
	border-right: 2px solid #e0c8d2;
	padding:7px;
	}

} /* closing bracket, for smaller screens*/

@media screen and (min-width: 480px) {

#map {
  float:left;
  background: #eee;
  background: #eee;
  position:fixed;
  top: 0px;
  left:0px;
  right:0;
  bottom:0px;
  border-top:1px solid #ccc;
}

#inputcontainer{
	position: absolute;
	left:45px;
	top:60px;
	width:40px;
}

td, th {
	vertical-align: top;
}

@font-face {
  font-family: cooper;
  src: url(../font/CooperHewitt-Book.woff);
}

.about {
	position: relative;
	background-color: #fff;
	float: right;
	font-family: "cooper", sans-serif;
	font-size: 1.1em;
	z-index: 1;
	padding: 10px;
	margin-top: 4px;
	margin-left: 80%;
	box-shadow: 0 8px 6px -2px #333;
	border-top: 4px solid #666;
	border-bottom: 3px solid #aaa;
}

img {
	padding: 2px;
}

}
