@font-face {
  font-family: cabin;
  src: url(../font/QuattrocentoSans-Regular.ttf);
}

@font-face {
  font-family: cabin-bold;
  src: url(../font/QuattrocentoSans-Bold.ttf);
}

body {
  font-family: cabin;
  padding: 5px;
}

p {
  font-size: 1em;
  line-height: 150%;
  margin: 0px;
  margin-top: 5px;
}

.title {
  font-family: cabin-bold;
  font-size: 2em;
  padding-bottom: 3px;
}

.subtitle {
  font-family: "cabin-bold", sans-serif;
  font-size: 1.2em;
  margin-top: 20px;
}

.ref {
  font-size: 0.6em;
}

.cit {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
  /*padding-left: 22px ;
  text-indent: -22px ;*/
}

a:link {
  text-decoration: none;
}
