body {
  font-family: "quattro";
  padding: 5px;
}

p {
  font-size: 1.2em;
  line-height: 150%;
  margin: 0px;
  margin-top: 5px;
}

.leaflet-container {
  font-family: "quattro" !important;
}

.title {
  font-family: "quattro-bold";
  font-size: 1.6em;
  padding-bottom: 3px;
}

.subtitle {
  font-family: "quattro-bold", sans-serif;
  font-size: 1.3em;
  margin-top: 20px;
}

.ref {
  font-size: 0.8em;
}

.cit {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
  /*padding-left: 22px ;
  text-indent: -22px ;*/
}

a:link {
  text-decoration: none;
}
